/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f5f5f5;  /* Cor mais clara para o título */
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #f5f5f5;  /* Cor mais clara para os subtítulos */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #f5f5f5;  /* Cor mais clara para os rótulos */
}

.opcao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;  /* Fundo mais escuro */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.opcao span {
    font-size: 1.3rem; /* Aumentado */
    color: #f5f5f5;  /* Cor mais clara para as opções */
}

input[type="radio"] {
    transform: scale(1.2);
}

input[type="date"],
select,
input[type="time"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

option {
    padding: 10px;
}
