
.container {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 16px;
  box-shadow: 0 0 15px #aaa; /* Sombra cinza claro */
}






h1 {
  font-family: 'Merriweather', serif;
  color: #fff;  /* Cor do texto: branco */
  font-size: 3em;
  text-shadow: 2px 2px 5px #aaa, -2px -2px 5px #aaa, 2px -2px 5px #aaa, -2px 2px 5px #aaa;  /* Contorno cinza claro */
}





.jargao {
  font-size: 1.5em;
  color: #aaa;
  font-family: 'Times New Roman', serif; /* Fonte mais séria */
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2em;
  white-space: nowrap; /* Impede a quebra de linha */
  text-align: center;
}

button {
  background-color: #900;
  color: white;
  border: 1px solid white; /* Agora com 1px de espessura */
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c00;
}

/* === Estilos para a Tela de Cadastro de Telefone === */

.cadastro-container {
  text-align: center;
  padding: 30px;
  background-color: #1a1a1a;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
  width: 80%; 
  max-width: 350px; 
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cadastro-container h1 {
  font-family: 'Merriweather', serif; 
  color: #fff;
  font-size: 2.2em; 
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0.8em;
}

.cadastro-info-paragrafo {
  font-size: 1.0em;
  color: #aaa;
  margin-bottom: 25px; 
  line-height: 1.4;
  padding-left: 10px;
  padding-right: 10px;
}

.cadastro-container input[type="tel"] { 
  width: 90%; 
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #444;
  outline: none;
  font-size: 1em;
  margin-bottom: 1.5em;
  background-color: #2a2a2a;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; 
}

.cadastro-container button { 
  background-color: #900;
  color: white;
  border: 2px solid white;
  padding: 12px 25px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block; 
  width: 90%; 
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-top: 10px;
}

.cadastro-container button:hover {
  background-color: #c00;
}

